@font-face {
    font-family: "MyFont";
    src: url(../font/Pony.ttf);
}
* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "MyFont";
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}
.app {
    min-height: 100vh;
    background: url(../img/wp4795301-virus-computer-wallpapers.png) no-repeat center / cover;
}

.vbox-title {
    font-size: 3rem;
    animation: moveTitle ease-in-out 3s infinite;
}

.venobox-custom {
    position: absolute;
    top: 80%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #3bf46a;
    font-size: 2.5rem;
    display: block;
    animation: scale-rotate ease 3.5s forwards;
}

@keyframes scale-rotate {
    0% {
        left: -100%;
    }
    80% {
        transform: scale(1);
    }
    90% {
        transform: scale(2);
    }
    100% {
        transform: scale(1) rotate(360deg);
        left: 65%;
    }
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 76%;
    left: 65%;
    transform: translate(120%, -65%);
}
/* -90 -60 -30 0 30 60 90 */
@keyframes moveTitle {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-30px);
    }
    20% {
        transform: translateX(-60px);
    }
    30% {
        transform: translateX(-90px);
    }
    40% {
        transform: translateX(-120px);
    }
    50% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(30px);
    }
    70% {
        transform: translateX(60px);
    }
    80% {
        transform: translateX(90px);
    }
    90% {
        transform: translateX(120px);
    }
    100% {
        transform: translateX(0);
    }
}
